  @import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #111F3C;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .waviy {
      position: relative;
    }

    .flippyTheFlipper p {
      font-family: 'Tangerine', cursive;
      display: inline-flex;
      position: relative;
      font-size: 150px;
      color: #F24130;
      animation: flipIt 9s infinite;
      animation-delay: calc(.15s * var(--x))
    }

    @keyframes flipIt {

      0%,
      85% {
        transform: rotateY(360deg)
      }
    }
